<div *ngIf="navItem.flyout, else simpleNav" class="relative">
  <!-- Item active: "text-gray-900", Item inactive: "text-gray-500" -->
  <button (click)="onNavClick(navItem.nav_item_name)" type="button" class="text-gray-500 group bg-white rounded-md inline-flex items-center text-base font-medium hover:text-gray-900 focus:outline-none" aria-expanded="false">
    <span>{{ navItem.nav_item_name }}</span>
    <svg class="text-gray-400 ml-2 h-5 w-5 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
    </svg>
  </button>

  <app-flyout-menu *ngIf="currentOpenedFlyout === navItem.nav_item_name" [navItem]="navItem"></app-flyout-menu>
</div>
<ng-template #simpleNav>
  <a href="#" class="text-base font-medium text-gray-500 hover:text-gray-900">
    {{ navItem.nav_item_name }}
  </a>
</ng-template>
